@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  font-family: "Poppins";
  background: url(./public/img/bgc.jpg);
  @apply w-full  bg-cover bg-no-repeat  h-auto;
  @apply flex w-full flex-col  items-center justify-center;
}

.contain {
  @apply w-full md:w-[712px] lg:w-[1024px]
   xl:w-[1200px] h-[92px];
}




